{{>user-header}}

<section class="breadcrumb-option mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Contact Us</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Contact Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
    <div class="row mt-4">
        <div class="container">
            <h1 style="color: black;" class="text-center" >Contact Us</h1>
            <p class="mt-4 text-center" style="color: black;">Find the latest updates for your camera’s firmware and Nikon software, or search our<br>
                 Knowledgebase for solutions to your product concerns. If you prefer to have someone guide you <br>
                 or for any enquiries beyond your Nikon product, feel free to reach us via phone or our online<br>
                  form.  We are always glad to be of assistance.</p>
        </div>
    </div>
    <br><br>
    <div class="row mt-4 text-left">
        <div class="container">
            <h2 style="color: black;">Registered & Corporate Office</h2>
            <br><br>
            <h3 style="color: black;">Focus India Private Limited</h3>
            <br>
            <p style="color: black;">Address: Plot No.71, Sector 32, Institutional Area, Gurgaon 122001 Haryana<br>
               Phone: 0124 4688500<br>
               Fax: 0124 4688527<br>
               Email: FocusSupport@focus.com<br>
               Corporate Identity Number (CIN): U74999HR2007FTC036820<br>
               Website: https://www.jithinphilip.online</p><br>
        </div>
    </div>
</section>
{{>user-footer}}