
{{>login-header}}
<section>
    <br>
	<h2 class="row justify-content-center">Welcome Back</h2>
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-6 my-4">
        <form action="/login" method="post" class="p-4">
          <!-- Email input -->
          <div class="form-outline mb-4">
			<label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" name="email" required/>
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
			<label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" name="password"  required/>
            
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
             <p class="text-danger">{{error}}</p>
            </div>

            <div class="col">
              <!-- Simple link -->
              <a href="/forget-password" class="mt-4">Forgot password? OTP</a>
                <br>
              <a href="/otp-varification">Login with OTP</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">LOGIN</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="/signup">signup</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{>login-footer}}
